@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #383838;
  --background: #ffffff;
  --accent: #2bbc8a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #c9cacc;
    --background: #1d1f21;
    --accent: #2bbc8a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--accent);
} 